In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('jhagshjghjddfs'))
s

0     j
1     h
2     a
3     g
4     s
5     h
6     j
7     g
8     h
9     j
10    d
11    d
12    f
13    s
dtype: object

In [4]:
s.unique()

array(['j', 'h', 'a', 'g', 's', 'd', 'f'], dtype=object)

In [5]:
s.value_counts()

j    3
h    3
g    2
s    2
d    2
a    1
f    1
dtype: int64

In [9]:
url = 'https://drive.google.com/file/d/188K5IdZzteih1CqWp1YdT0-3IryvxmqJ/view?usp=sharing'

file_id = url.split('/')[-2]

download_url = 'https://drive.google.com/uc?id=' + file_id

dados = pd.read_csv(download_url, sep=';')

In [10]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [11]:
dados['Tipo'].unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [12]:
dados['Tipo'].value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: Tipo, dtype: int64